/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require spinkit/spinkit
 */

$mobile-bp: 500px;

@mixin mobile {
  @media (max-width: $mobile-bp) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $mobile-bp) {
    @content;
  }
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #F5F2F2;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p,span,div,input {
  font-family: 'Open Sans', sans-serif;
}

.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.card {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.14);
  margin: 0 auto;
  text-align: center;
  position: relative;

  p {
    @include desktop {
      max-width: 75%;
    }
    margin: 0 auto 30px auto;
  }

  h1 {
    margin-bottom: 30px;
  }
}

.login-box {
  @include desktop {
    margin-top: 30px;
  }

  @include mobile {
    margin-top: 0;
  }
}

$blue: #4A90E2;

.big-button {
  border: none;
  display: inline-block;
  width: 100%;
  background: $blue;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;

  @include desktop {
    font-size: 18px;
  }

  @include mobile {
    font-size: 16px;
  }

  &:hover {
    cursor: pointer;
  }
}

.alternate-button {
  background: rgb(98, 105, 117);
}

.mb20 {
  margin-bottom: 20px;
}

.medium-button {
  border: none;
  display: inline-block;
  background: $blue;
  padding: 15px 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;

  &:hover {
    cursor: pointer;
  }
}

.cancel-button {
  background: #BFBFBF;
}

.footer {
  margin-top: 20px;
  color: rgba(0,0,0,0.35);
  text-align: center;
  font-weight: 300;
  margin-bottom: 15px;

  @include mobile {
    font-size: 14px;
  }
}

.login-box {
  max-width: 650px;
}

.login-box, .new-booking-form {
  input[type=text], input[type=email], input[type=password] {
    width: 100%;
    font-size: 16px;
    padding: 10px 15px 15px 15px;
    margin-bottom: 15px;
    border: 1px solid #eee;

    @include mobile {
      font-size: 14px;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}

.new-booking-form {
  padding: 20px 30px 30px 30px;
  padding-bottom: 0px;

  @include mobile {
    padding: 15px;
    padding-bottom: 0;
  }

  input[type=text] {
    padding: 20px 20px; 
    background: #FEFEFE;
    border: 1px solid #F1F1F1;
    font-weight: 300;

    @include mobile {
      padding: 15px 10px;
    }
  }
}

.verifier-input-wrapper {
  img {
    max-width: 100%;
  }

  input[type=text] {
    box-shadow: 0px 0px 10px 3px rgba(224, 231, 14, 0.3);
    border: 1px solid #DAD10B;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.primary-navigation {
  background: #4A90E2;
  border: 1px solid #979797;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  position: relative;
  padding-top: 13px;

  @include mobile {
    padding: 16px 5px 0px 8px;
    margin-bottom: 18px;
  }

  h1 {
    color: #fff;
    margin: 0;
    font-size: 30px;

    @include mobile {
      font-size: 20px;
      padding-top: 6px;
      display: none;
    }
  }

  .primary-navigation--actions {
    position: absolute;
    right: 0;
    top: 2px;

    @include mobile {
      position: static;
    }

    a {
      @include mobile {
        text-align: center;
        font-size: 12px;
        padding: 9px 7px;
        margin-left: 7px;
        color: #888;

        &.green {
          width: 47%;
        }

        &.blue {
          width: 47%;
        }
      }

      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      display: inline-block;
      background: #F9F9F9;
      color: #918B8B;

      margin-left: 10px;
      padding: 9px 25px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      font-size: 15px;

      &:hover {
        color: #ccc;
      }
    }
  }
}

.list-page-content {
  width: 100%;
  text-align: left;
  padding: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.booking {
  padding: 20px;
  border-bottom: 1px solid #E8E6E6;
  position: relative;

  @include mobile {
    padding: 10px;

    &:last-child {
      padding-bottom: 0 !important;
    }
  }


  &:last-child {
    border-bottom: none;
  }


  .booking--info {
    h2 {
      font-size: 22px;
      margin: 0 0 5px 0;

      @include mobile {
        font-size: 18px;
      }
    }

    .booked-license-plate {
      color: rgba(0,0,0,0.8);
    }

    .booking--info--date-time {
      color: #666;
      margin: 5px 0;

      @include mobile {
        font-size: 15px;
        margin: 2px 0;
      }

      .time {
        // font-weight: bold;
      }

      .date {
      }
    }

    .booking--info--location {
      margin: 0;
      color: #666;

      @include mobile {
        margin-bottom: 10px;
      }
    }

    .booked-location--address {
      color: rgba(0,0,0,0.8);

      @include mobile {
        font-size: 15px;
      }
    }
  }

  .booking--actions {
    position: absolute;
    right: 40px;
    top: 30px;

    @include mobile {
      position: static;
      margin-bottom: 10px;
    }

    a {
      background: #eee;
      padding: 16px 40px;
      color: #888;
      text-decoration: none;
      display: inline-block;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.13);

      @include desktop {
        width: 150px;
        text-align: center;
      }

      @include mobile {
        width: 100%;
        text-align: center;
        padding: 10px;
        font-size: 15px;
      }
    }
  }
}

.auth-flow-example {
  max-width: 100%;
  box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.09);
  margin-bottom: 20px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: none;

  &.loading-overlay--is-visible {
    display: block;
  }

  .loading-overlay--animation {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .sk-dot1 {
    background: rgba(8, 78, 93, 1);
  }

  .sk-dot2 {
    background: #2A4480;
  }
}

.form--actions {
  margin-top: 10px;

  @include desktop {
    margin-bottom: 15px;
  }

  @include mobile {
    button, a {
      display: block !important;
      margin-bottom: 8px;
      font-weight: 500;
      text-align: center;
      width: 100%;
      font-size: 16px;
    }

    button:last-child, a:last-child {
      margin-bottom: 0;
    }
  }
}

.login-or {
  margin-top: 10px!important;
  margin-bottom: 10px!important;
  color: #888;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.faded-link {
  color: #888;

  &:hover {
    color: #ccc !important;
  }

  &:visited, &:active {
    color: #888;
  }
}

.page-subtitle {
  font-size: 24px;
  color: #B2B1B1;
  line-height: 27px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 300;
  padding-left: 5px;
  font-weight: 500;

  @include mobile {
    margin-top: 10px;
    margin-bottom: 7px;
    font-size: 17px;
    padding-left: 10px;
  }

  .page-subtitle--link {
    color: #ccc;
    text-decoration: none;
    margin-right: 15px;
    letter-spacing: -1px;

    &.active {
      color: #B2B1B1;
      font-weight: 500;
    }

    &:hover, &.active:hover {
      color: #888;
    }
  }
}

.empty-list-notification {
  margin: 0 !important;
  text-align: center;
  padding: 30px;
  padding-bottom: 40px;
  width: 100%;
  max-width: 100% !important;
  padding-top: 50px;
  color: #B6B6B6;
  font-style: italic;
}

.booking-complete-button {
  background: #FFA500 !important;
  color: #FFFFFF !important;
}

.highlight-header {
  background: rgb(249, 249, 130);
  padding: 5px;
  width: 50%;
  margin: 20px auto;
  color: rgb(51, 51, 8);
}

.desktop-only {
  @include mobile {
    display: none !important;
  }
}

.mobile-only {
  @include desktop {
    display: none !important;
  }
}

.go-home-link {
  @include mobile {
    width: 97%;
  }
}

.in-progress-badge {
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  background: yellow;
  margin-left: 10px;
  margin-bottom: 2px;
}

.link-with-options {
  position: relative;
  @include desktop {
    padding-right: 130px !important;
  }
  @include mobile {
    padding-right: 20px !important;
  }
}

$caret-size: 8px;
$caret-size-mobile: 6px;

.caret {
	width: 0; 
	height: 0; 
  display: inline-block;
	border-left: $caret-size solid transparent;
	border-right: $caret-size solid transparent;
	border-top: $caret-size solid #888;

  @include mobile {
    border-left: $caret-size-mobile solid transparent;
    border-right: $caret-size-mobile solid transparent;
    border-top: $caret-size-mobile solid #888;
  }
}

.link-options {
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;

  &.grey {
    background: #E4E4E4;

    .caret {
      border-top: $caret-size solid #868686;
    }

    @include mobile {
      .caret {
        border-top: $caret-size-mobile solid #868686;
      }
    }
  }

  &.orange {
    background: #F0B758;

    .caret {
      border-top: $caret-size solid #A2690A;
    }

    @include mobile {
      .caret {
        border-top: $caret-size solid #A2690A;
      }
    }
  }

  .caret {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.link-options-list {
  position: absolute;
  display: none;
  z-index: 999;

  @include desktop {
    // bottom: -53px;
  }

  @include mobile {
    // bottom: -20px;
    padding: 0px 10px;
  }

  left: 0;
  min-height: 20px;
  width: 100%;
  background: #fff;

  a:first-child {
    border-top: 1px solid #D6D6D6;
  }

  a {
    width: 100% !important;
    padding: 15px 10px !important;
    background: #F9F9F9 !important;
  }

  &.active {
    display: block;
  }
}

.address-input-wrapper {
  position: relative;

  input {
    padding-right: 35px !important;
  }
}

.get-current-location-button {
  position: absolute;

  &:hover {
    .ion-pinpoint {
      color: $blue;
      cursor: pointer;
    }
  }

  .ion-pinpoint {
    font-size: 22px;
    color: rgba(0,0,0,0.7);
  }

  @include mobile {
    right: 10px;
    top: 11px;
  }

  @include desktop {
    right: 15px;
    top: 17px;
  }
}
