<!DOCTYPE html>
<html>
<head>
  <title>Concierge</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
    This is a free service by Brent Vatne & Jason Tam <br/>
    * A Car2Go account is required for use
  </div>

</body>
</html>
